<h1 class='bg-success text-light bg-opacity-50 header'>Create a New Task</h1>

<div class="input-box p-3 mb-2 bg-success text-light bg-opacity-50">
<%= render "form", task: @task %>

<br>

<div>
  <%= link_to "Back to tasks", tasks_path , class:"btn btn-secondary" %>
</div>
</div>