<h1 class='bg-success text-light bg-opacity-50 about'>About</h1>

<p class='bg-success text-light bg-opacity-50 about about-text'> 
Welcome to the "To Do List" it is demo application developed using Ruby on Rails <br/> 
It was made as part of the interview process with Redox Bio-Nutrients <br/> 
The purpose of the project is creating a "To Do List" to create a task and  <br/>
display the information in two tables incompleted and completed  <br/>
each task have the option of  "Show", "Reorder", "Edit" and "Delete" </p>

<h3 class='bg-success text-light bg-opacity-50 about'> Extra </h3>

<p class='bg-success text-light bg-opacity-50 about about-text'>
Going the extra mile, I decided adding a new feature to the application. <br/>
The ability of allowing users to create an accout and it will display the information <br/>
of each user account with their personal "To Do List"
 </p>

